@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@media only screen and (min-width: 38em){
    html {
        font-size: 105%;
    }
}

@media only screen and (min-width: 60em){
    html {
        font-size: 110%;
    }
}

body{
    margin: 0;
    padding: 0;
}

.flex{
    display: block;
    width: 100%;
}

.navbackground {
    background-color: #ccc;
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -3em;
    background-color: #466289;
    color: #fff;
    padding: 0.5em 0.75em;
    text-decoration: none;
    font-size: 1.25em;
}

.skip-links a:focus {
    top: 0;
}

.navwrapper{
    position: relative;
}

.nav-btn,
.nav-btn:link,
.nav-btn:visited {
	bottom: -5px;
	height: 40px;
	overflow: hidden;
	position: absolute;
	right: 10px;
	width: 46px;
	background: transparent url("../images/icon-nav.svg") no-repeat 0 0;
	text-indent: 100%;
	white-space: nowrap; 
}

.nav-btn:hover,
.nav-btn:focus,
.nav-btn:active {
	background-color: #000;
	background-position: 0 -40px;
}

.nav-btn[data-state="active"] {
	background-color: #000;
	background-position: -46px -40px;
}

.nav {
	background-color: #000;
    overflow: hidden;
    position: absolute;
    right: .62em;
    width: 10em;
    top: 29px;
    z-index: 100;
}

.nav > ul {
	margin: 0;
	padding: 0.8em 0;
	list-style-type: none;
	font-size: 1.25em;
}

.nav a,
.nav a:link,
.nav a:visited {
	display: block;
	padding: 0.5em 10px;
	color: #e2e2e2;
	text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active {
	background-color: #222;
	color: #fff;
}

.nav-top {
	max-height: 0;
	-moz-transition: all 250ms linear;
	-o-transition: all 250ms linear;
	-webkit-transition: all 250ms linear;
	transition: all 250ms linear;
}

.nav-top[data-state="expanded"] {
	max-height: 14em;
}

.round-button-home {
    position: relative;
    display:block;
    width:110px;
    height:110px;
    line-height:105px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #464646;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:normal;
    margin: auto;
}
.round-button-home:hover {
    background: #262626;
}

button:hover {
    background-color: #cbc8c6;
    color: white;
}

.center {
    text-align: center;
}

.banner {
    text-align: center;
    padding: 15%;
    background: #f4f4f4 url("http://placehold.it//f4f4f4") no-repeat center center;
    background-size: cover; 
}

.description{
    background: #befdff url("http://placehold.it//befdff") no-repeat center center;
    background-size: cover; 
}

.centered {
    text-align: center;
    align-content: center;
    padding: 0;
}

.features{
    max-width: 15em;
    margin: 0 auto;
}

.hook {
    max-width: 30em;
    text-align: center;
    margin: 0 auto;
}

.round-button {
    position: relative;
    display:block;
    width:80px;
    height:80px;
    line-height:75px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #464646;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:normal;
    margin: 0 auto;
}

.round-button:hover {
    background: #262626;
}


.prices1,
.prices2,
.prices3 {
    background: #f4f4f4 url("http://placehold.it//f4f4f4") no-repeat center center;
    background-size: cover;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: justify;
    justify-content: flex-start;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.prices1 .desc,
.prices2 .desc,
.prices3 .desc {
    -webkit-flex-grow: 2;
    /*-ms-flex: 2 1 auto;*/
    flex-grow: 2;
}

.prices2{
    background-color: #ffd2d2;
    background-image: url("http://placehold.it//ffd2d2");
}

.prices3{
    background-color: #a6fffc;
    background-image: url("http://placehold.it//a6fffc");
}

form{
    margin: 0 auto;
    max-width:35rem;
}

form div{
    margin-bottom: 1.5rem; 
}

.thanks{
    background-color: #a6fffc;
    background-image: url("http://placehold.it//a6fffc");
}


.width {
    width: 100%; 
}

.widthprice {
    max-width: 44em;
    margin: 0 auto;
}

label{
    display: block;
    vertical-align: middle;
}

input+label{
    display: inline-block;
}

input,
select {
    height: 3em;
    vertical-align: middle;
}


.footer{
    background-color: #ccc;
}


@media only screen and (min-width: 25em) {

}

@media only screen and (min-width: 38em) {
.verticalline{
    border-left: thin solid black;
    margin: 2.5rem 0;
}
    
.spacing{
    margin-right: 2rem;
}

.nav{
    text-align: right;
    width: auto;
    position: static;
    background-color: transparent;
}

.nav ul{
    padding: 0;
}
    
.nav li{
    float: none;
    display: inline-block;
    width: auto;
    color: #000;
}
    
.nav-btn[data-state="active"] {
	background-color: transparent;
	background-position: 0px 0px;
}

.nav-btn{
    display: none;
    background-color: transparent;
}
    
.nav-top{
    max-height: 5rem;
    right: 0;
}

.nav a,
.nav a:link,
.nav a:visited {
	display: block;
	padding: 0 10px;
	color: #000;
	text-decoration: none;
}
    
.nav a:hover,
.nav a:focus,
.nav a:active {
	background-color: #f4cfcf;
}
    
} 

@media only screen and (min-width: 60em) {
.verticalline{
    border-left: thin solid black;
    margin: 2.5rem 0;}

.spacing {
    margin-right: 2rem;
}

}
    

